/*font-family: 'Cormorant Infant', serif;
font-family: 'Raleway', sans-serif;*/
*{
	box-sizing: border-box;
	font-family: 'Raleway';
}
a:hover{
	text-decoration: none !important;
}
button:active, button:focus,
input:active, input:focus,
textarea:active, textarea:focus{
	outline: none !important;
}
.mt-30{
	margin-top: 30px;
}
.jcsb{
	justify-content: space-between;
}
.jcc{
	justify-content: center;
}
.aic{
	align-items: center;
}
.container{
	max-width: 1800px !important;
}
.main{
	width: 100%;
	height: 860px; /*dell*/
	background-repeat: no-repeat;
}
.main__phone a{
	font-family: sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	color: #195557;
}
.main__basket img{
	margin-top: -20%;
}
.main__basket:after{
	content: '6';
	position: relative;
	top: -16px;
	left: -14px;
	font-family: 'Cormorant Infant';
	font-weight: 700;
}
.main_list ul{
	display: flex;
	justify-content: space-between;
	max-width: 650px;
	float: right;
	align-items: center;
}
.main_list ul li{
	margin-left: 80px;
	font-weight: 700;
	font-family: 'Cormorant Infant';
	list-style: none;
	display: flex;
	align-items: center;
	height: 115px;
}
.main_list ul li a{
	color: #195557;
}
.drop-point:before{
	content: url(../img/drop-item.svg);
	position: relative;
	left: -8px;
	top: -1px;
}
.adapt-site{
	display: none;
}
.adapt-site__bottom ul{
	display: flex;
	justify-content: center;
	margin-left: -40px;
}
.adapt-site__bottom ul li{
	font-weight: 700;
	font-family: 'Cormorant Infant';
	list-style: none;
	display: flex;
	align-items: center;
	height: 115px;
}
.adapt-site__bottom ul li+li{
	margin-left: 40px;
}

.mobile-header{
	padding: 0 20px;
	display: none;
}
.mobile-header-content{
	width: 301px;
	height: 480px;
	box-shadow: 4px 4px 20px #E3E3E3;
	border-radius: 0px 10px 10px 0px;
	background: #fff;
	position: absolute;
	top: 5px;
	left: -320px;
	padding: 20px;
}
.mobile-header-content__head .logo{
	margin-left: 82px;
}
.mobile-header-content ul li{
	font-family: 'Cormorant Infant';
	font-size: 18px;
	font-weight: bold;
	list-style: none;
	margin-bottom: 19px;
}
.mobile-header-content ul li a{
	color: #195557;
}
.mobile-header-content .phone{
	font-family: sans-serif;
	font-weight: 500;
	font-size: 22px;
	color: #195557;
	position: absolute;
	bottom: 30px;
	left: 50px;
}

.mobile-header-content-open{
	animation-name: mobile-header-content-open;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
.mobile-header-content-close{
	animation-name: mobile-header-content-close;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
@keyframes mobile-header-content-open {
	0%{
		top: 5px;
		left: -320px;
	}
	100%{
		top: 5px;
		left: 0;
	}
}

@keyframes mobile-header-content-close {
	0%{
		top: 5px;
		left: 0;
	}
	100%{
		top: 5px;
		left: -320px;
	}
}

footer{
	background: #70908B;
}
footer .rights p{
	font-size: 9px;
	color: #fff;
	position: relative;
	left: 0;
	bottom: -46px;
}
footer .phone{
	display: flex;
	align-items: center;
	color: #fff;
	font-family: sans-serif;
}
footer .rights .logo{
	position: relative;
	top: 20px;
}
footer .main_list{
	text-transform: uppercase;
	font-family: 'Cormorant Infant', serif;
	font-size: 16px;
}
footer .main_list ul li a{
	color: #fff !important;
	margin-top: 18px;
}
.footer-show{
	display: none;
}
.color-white{
	color: #fff;
}

.main__content .hedgehod{
	margin: 200px 0 20px 0;
}
.main__content .title{
	font-weight: normal;
	font-size: 50px;
	color: #70908B;
	text-transform: uppercase;
	font-family: 'Cormorant Infant', serif;
}
.main__content .subtitle{
	font-weight: normal;
	font-size: 14px;
	color: #70908B;
	margin: 18px 0 30px 0;
}
.main__content .buy{
	font-size: 14px;
	color: #FFF;
	background: #70908b;
	padding: 24px 5px;
	max-width: 328px;
	margin: 0 auto;
	box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
	border-radius: 40px;
	cursor: pointer;
	font-weight: 700;
}
.main__content__aboutitems {
	max-width: 886px;
	margin: 0 auto;
	margin-top: 80px;
}


.main__content__aboutitems .item .title{
	color: #195557;
	text-transform: uppercase;
	font-family: 'Cormorant Infant', serif;
	font-size: 16px;
}
.main__content__aboutitems .item .description{
	color: #195557;
	font-family: Raleway;
	font-size: 14px;
}
body > section > img.hedgehod1,
body > section > img.hedgehod2{
	position: absolute;
}
body > section > img.hedgehod1{
	left: 0;
	top: 600px;
}
body > section > img.hedgehod2{
	right: 0;
	top: 760px;
}

.slider-form{
	margin-top: 300px;
}
.slide{
	background-repeat: no-repeat;
}
.slider-form__slider{
	max-width: 1100px;
	margin: 0 auto;
}

.slider-form__slider .slide{	
	max-width: 570px;	
	padding: 0 59px;

}
.slider-form__slider .slide .sell{
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	background: #70908B;
	padding: 2px 2px;
	text-align: center;
	max-width: 68px;
	position: relative;
	top: 0px;	
}
.slider-form__slider .slide .title{
	margin: 24px 0 17px 0;
	font-size: 40px;
	color: #195557;
	font-family: Cormorant Infant;
}
.slider-form__slider .slide .description{
	max-width: 182px;
	font-size: 14px;
	font-family: Raleway;
	font-weight: bold;
	font-weight: normal;
	margin: 17px 0 19px 0;
}
.slider-form__slider .slide .oldprice{
	font-family: Cormorant Infant;
	font-size: 20px;
	color: #C2CCCA;
	text-decoration-line: line-through;
}
.slider-form__slider .slide .price{
	font-family: Cormorant Infant;
	color: #195557;
	font-weight: bold;
	font-size: 40px;
	margin: 10px 0 39px 0;
}

.slider-form__slider .slide .images .info,
.slider-form__slider .slide .images .plus{
	position: relative;
}
.slider-form__slider .slide .images .info{
	right: -33px;
	top: 24px;
}
.slider-form__slider .slide .images .plus{
	bottom: -335px;
	right: -69px;
}
body > section.slider-form > div > button.slick-prev.slick-arrow,
body > section.slider-form > div > button.slick-next.slick-arrow{
	border: none;
	background: transparent;
	position: absolute;
}
body > section.slider-form > div > button.slick-prev.slick-arrow{
	left: -31px;
	top: 45%;
}
body > section.slider-form > div > button.slick-next.slick-arrow{
	left: 101%;
	top: 46%;
}


.slider-form__form{
	padding: 49px;
	margin: 70px auto 80px auto;
	max-width: 1200px;
	background: #EAEEEF;
	border-radius: 30px;
}
.slider-form__form .title{
	font-weight: bold;
	font-size: 45px;
	color: #195557;
	font-family: Cormorant Infant;
}
.slider-form__form .type_picker{
	width: 47%;
}
.slider-form__form .type{
	color: #70908B;
	font-size: 14px;
	font-family: Cormorant Infant;
	padding: 0 10px;
	border: solid 1px #70908B;
	border-radius: 30px;
	max-height: 49px;
	transition: 0.5s;
	width: 32%;
	text-align: center;
	padding-top: 10px;
}
.slider-form__form .active-type,
.slider-form__form .type:hover{
	background: #70908B;
	color: #fff;
	cursor: pointer;
	transition: 0.5s;
}
.slider-form__form .checkboxes{
	width: 35%;
}
.slider-form__form .checkboxes .title{
	font-size: 14px !important;
	display: contents;
}
.slider-form__form .inputs3{
	margin-bottom: 20px;
}
.slider-form__form .inputs3 input{
	width: 32%;
	height: 62px;
	background: #F8F8F8;
	border-radius: 8px;
	color: #195557;
	font-size: 14px;
	font-family: Raleway;
	border: none;
	padding-left: 10px;
}
.slider-form__form .commentarea textarea{
	background: #F8F8F8;
	border-radius: 8px;
	font-family: Raleway;
	border: none;
	padding: 20px 0 0 10px;
	width: 100%;
	height: 108px;
}
body > section.slider-form > div.slider-form__form > form > div.btn{
	margin: 0 auto;
	width: 328px;
	background: #70908B;
	border-radius: 40px;
	height: 69px;
	padding: 23px;
	color: #fff;
	font-family: Raleway;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-left: calc(50% - 164px);
	position: relative;
	top: 81px;
}

.end{
	text-align: center;
}
.end img{
	position: relative;
	left: -5px;
	top: -5px;
}
.end span{
	font-size: 24px;
	color: #195557;
	font-weight: bold;
	font-family: Cormorant Infant;
}
.end div{
	max-width: 191px;
	font-size: 14px;
	font-family: Raleway;
	color: #195557;
	margin: 30px auto 60px auto;
}
.ej{
	position: absolute;
	right: 0;
	top: 57%;
}
.mobile-show{
	display: none ;
}
.mobile-hide{
	display: block ;
}
.mobile-show-flex,
body > section.main > div > div.main__content__aboutitems.d-flex.jcsb > div.d-flex.text-center.ml-2.mr-2.jcsb.mobile-show-flex{
	display: none !important;
}